@tailwind base;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fafafa;
  color: #222;
}

.inner-container {
  @apply pt-24;
  @apply mx-auto;
  @apply max-w-4xl;
}

h1 {
  @apply text-6xl;
  @apply font-bold;
  @apply leading-tight; 
  line-height: 1.1;
}

h2, blockquote {
  @apply font-bold;
  @apply mt-10;
  @apply text-4xl;
}

p {
  @apply text-2xl;
  @apply mt-10;
  line-height: 1.8;
}

blockquote {
  @apply italic;
}

h3 {
  @apply text-3xl;
  @apply font-bold;
}

@tailwind components;
@tailwind utilities;
