@tailwind base;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fafafa;
  color: #222;
}

.endorse {
  background-color: #fff800;
}

h2 {
  border-bottom: none;
}

.blockquote {
  line-height: 1.5;
}

.nav-link {
  font-size: 20px;
}

.wrapper {  
  max-width:56rem;
  margin:auto;
}

.navbar {
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
}

.navbar .links {
  padding-top:0.75rem;
  float: right!important;
  position: relative!important;
  top:0!important;
  right:0!important;   
}

.nav-bar .site-name {
  display: none;
}

.navbar .logo {
  height: 55px!important; 
}

.inner-container {
  @apply pt-24;
  @apply mx-auto;
  @apply max-w-4xl;
}

h1 {
  @apply text-6xl;
  @apply font-bold;
  @apply leading-tight; 
  line-height: 1.1;
}

h2, .blockquote {
  @apply font-bold;
  @apply mt-10;
  @apply text-4xl;
}

p {
  @apply text-2xl;
  @apply mt-10;
  line-height: 1.8;
}

blockquote {
  @apply italic;
}

h3 {
  @apply text-3xl;
  @apply font-bold;
}

@tailwind components;
@tailwind utilities;
